/*********** Reset ***********/
* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

main {
  min-height: 100vh;
  margin-top: 80px;
}

.logo {
  width: 80px;
}

/*********** Components ***********/
.header {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  position: fixed;
  top: 0;
  min-width: 100%;
}
.header__logotype {
  width: 80px;
}
.header__nav-list {
  display: flex;
  gap: 1rem;
  font-size: 0.7em;
}
.header__nav-item a {
  color: #001C30;
}
.header__nav-item a:hover {
  font-weight: 600;
}
@media screen and (min-width: 1024px) {
  .header__nav-list {
    font-size: 1em;
  }
}

footer {
  text-align: center;
  background-color: rgb(24, 24, 24);
  color: #ffffff;
  padding: 2rem;
}

/*********** Index.html ***********/
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  background-image: url("../assets/backgrounds/ella-don-gETE8IyZPrM-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  color: #ffffff;
}
.home__title {
  font-size: 2em;
}
.home__description {
  font-size: 1em;
}
.home__button {
  cursor: pointer;
  background-color: #ff198f;
  color: #ffffff;
  font-size: 1em;
  font-weight: 600;
  border: none;
  border-radius: 2rem;
  padding: 1rem 2rem;
  width: fit-content;
}
@media screen and (min-width: 64em) {
  .home__title {
    font-size: 2.5em;
    width: 50%;
  }
  .home__description {
    font-size: 1.3em;
    width: 50%;
  }
}

.sponsors {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem;
}

/*********** Contact.html ***********/
.contact {
  display: flex;
  gap: 2rem;
  background-image: url("../assets/backgrounds/maurice-sahl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
.contact__content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 2rem;
  min-width: 100%;
}
.contact__title {
  margin-bottom: 2rem;
}
.contact__info-box h3 {
  color: #868686;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
}
.contact__social-media {
  display: flex;
  gap: 2rem;
}
.contact__sponsors-title, .contact__partners-title {
  font-size: 1em;
}
.contact__sponsors-section, .contact__partners-section {
  display: flex;
  align-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
.contact__map {
  max-height: 200px;
  width: auto;
}
.contact__banner {
  display: none;
}
@media screen and (min-width: 64em) {
  .contact {
    padding: 0;
    background-image: none;
  }
  .contact__content {
    min-height: 100vh;
    width: 50%;
    border-radius: 0;
    min-width: 0;
  }
  .contact__banner {
    background-image: url("../assets/backgrounds/maurice-sahl.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    width: 50%;
  }
}

/*********** About-us.html ***********/
.about-us {
  display: flex;
  gap: 2rem;
  background-image: url("../assets/backgrounds/tony-reid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 2rem;
}
.about-us__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 2rem;
  min-width: 100%;
}
.about-us__title {
  margin-bottom: 2rem;
}
.about-us__video {
  margin-top: 2rem;
  width: auto;
}
.about-us__banner {
  display: none;
}
@media screen and (min-width: 64em) {
  .about-us {
    padding: 0;
    background-image: none;
  }
  .about-us__content {
    min-height: 100vh;
    width: 50%;
    border-radius: 0;
    min-width: 0;
  }
  .about-us__banner {
    display: block;
    background-image: url("../assets/backgrounds/tony-reid.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
  }
}

/*********** Team.html ***********/
.game {
  background-image: url(../assets/backgrounds/VbTJ9MN.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.game__name {
  color: white;
  letter-spacing: 0.2em;
}

.player {
  background-color: rgb(36, 36, 36);
  display: flex;
  padding: 1rem;
}
.player__image {
  width: 150px;
}
.player__info {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.player__nickname {
  color: white;
  font-size: 2rem;
}
.player__country-image {
  height: 2rem;
}

/*********** Matches.html ***********/
.upcoming {
  background-color: rgb(36, 36, 36);
  color: white;
  text-align: center;
  padding: 1rem;
}
.upcoming__teams {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.upcoming__teams img {
  width: 150px;
}

.results h2 {
  margin: 2rem 1rem;
}

.match-card {
  box-shadow: 0.1rem 0.1rem 0.5rem 0.1rem rgba(0, 0, 0, 0.171);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.match-card span {
  display: flex;
  align-items: center;
  font-weight: 600;
}

/*# sourceMappingURL=style.css.map */
