html {
  font-size: calc(15px + 0.390625vw);
}

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  line-height: 1.5;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3 {
  overflow-wrap: break-word;
}

img, picture, video, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style: none;
}

/* 80px es el alto de nuestro fixed header */
main {
  margin-top: 80px;
}

h1 {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: -0.0625rem;
}

h2 {
  font-size: 1.125rem;
  line-height: 1.067;
  letter-spacing: -0.05rem;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.083;
  letter-spacing: -0.0375rem;
}

@media screen and (min-width: 55em) {
  h1 {
    font-size: 2.125rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.5;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #181818;
  position: fixed;
  top: 0;
  z-index: 2000;
  min-width: 100%;
  min-height: 80px;
}
.header__logotype {
  width: 48px;
  margin: 1rem;
}
@media screen and (min-width: 55em) {
  .header {
    background-color: rgba(255, 255, 255, 0.9803921569);
  }
  .header__logotype {
    width: 80px;
    margin: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: rgb(0, 0, 0);
  color: rgba(255, 255, 255, 0.9803921569);
  padding: 2rem;
}
.footer__legal-stuff {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__legal-stuff div {
  display: flex;
  gap: 1rem;
}
.footer__contact, .footer__follow-us {
  margin: 2rem 0;
}
.footer__contact h3, .footer__follow-us h3 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}
.footer__contact h5 {
  color: rgba(162, 162, 162, 0.634);
}
.footer__follow-us {
  display: flex;
  flex-direction: column;
}
.footer__follow-us div {
  display: flex;
  gap: 1.5rem;
}
.footer__map {
  width: 100%;
}
@media screen and (min-width: 55em) {
  .footer__content {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  .footer__map {
    width: 50%;
    height: 350px;
  }
}

.navbar {
  margin-right: 1rem;
}
.navbar__list {
  display: flex;
  gap: 1rem;
}
.navbar__list--item a {
  color: rgba(255, 255, 255, 0.9803921569);
}
.navbar__list--item a:hover {
  font-weight: 600;
}
@media screen and (min-width: 55em) {
  .navbar__list--item a {
    color: #001C30;
  }
}

.player-card {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.4rem;
  box-shadow: 0 0 0.9rem 0.1rem rgb(243, 243, 243);
  margin-bottom: 1rem;
}
.player-card__info-container {
  display: flex;
  align-items: center;
  color: #001C30;
}
.player-card__player-img {
  width: 80px;
}
.player-card__role {
  color: #868686;
}
.player-card__nickname {
  font-weight: 900;
}
.player-card__realname {
  font-family: "Roboto Slab", serif;
}
.player-card__country-img {
  width: 24px;
}
.player-card__social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 55em) {
  .player-card__player-img {
    width: 120px;
  }
}

.match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2.5rem 1.8rem;
  margin-bottom: 1rem;
  background-color: #001C30;
}
.match-card__team-versus, .match-card__tournament-date > span {
  font-weight: 600;
}
.match-card__team-versus {
  color: rgba(255, 255, 255, 0.9803921569);
}
.match-card__tournament-date {
  color: #90EBFF;
}
.match-card--active {
  background-color: #f5f5f5;
}
.match-card--active .match-card__team-versus {
  color: #001C30;
}
.match-card--active .match-card__tournament-date {
  color: #868686;
}
.match-card__our-logo {
  margin-bottom: 1rem;
}
.match-card__our-logo, .match-card__their-logo {
  width: 48px;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: white;
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 150px;
}
.slider:hover .slide-track {
  animation-play-state: paused;
}
@media screen and (min-width: 55em) {
  .slider .slide {
    width: 250px;
  }
}

.home__text-content--btn {
  background-color: #0f0f0f;
  color: rgba(255, 255, 255, 0.9803921569);
  font-weight: 600;
  border-radius: 2rem;
  padding: 1rem 2rem;
  transition: 0.2s ease;
}
.home__text-content--btn:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.9803921569);
  color: #0f0f0f;
}

.about-us-card {
  display: flex;
  flex-direction: column;
  background-color: #181818;
  border-radius: 1rem;
}
.about-us-card__img {
  border-radius: 1rem 1rem 0 0;
  max-height: 200px;
  object-fit: cover;
}
.about-us-card__text-content {
  color: rgba(255, 255, 255, 0.9803921569);
  padding: 2rem;
}
@media screen and (min-width: 55em) {
  .about-us-card {
    max-width: 350px;
    height: 590px;
  }
}

.text-flicker-in-glow {
  animation: text-flicker-in-glow 3s linear both;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-7-8 2:33:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@keyframes text-flicker-in-glow {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    text-shadow: none;
  }
  10.1% {
    opacity: 1;
    text-shadow: none;
  }
  10.2% {
    opacity: 0;
    text-shadow: none;
  }
  20% {
    opacity: 0;
    text-shadow: none;
  }
  20.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.25);
  }
  20.6% {
    opacity: 0;
    text-shadow: none;
  }
  30% {
    opacity: 0;
    text-shadow: none;
  }
  30.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.5% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  30.6% {
    opacity: 0;
    text-shadow: none;
  }
  45% {
    opacity: 0;
    text-shadow: none;
  }
  45.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  50% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
  }
  55.1% {
    opacity: 0;
    text-shadow: none;
  }
  57% {
    opacity: 0;
    text-shadow: none;
  }
  57.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35);
  }
  60.1% {
    opacity: 0;
    text-shadow: none;
  }
  65% {
    opacity: 0;
    text-shadow: none;
  }
  65.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  75.1% {
    opacity: 0;
    text-shadow: none;
  }
  77% {
    opacity: 0;
    text-shadow: none;
  }
  77.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.4), 0 0 110px rgba(255, 255, 255, 0.2), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  85.1% {
    opacity: 0;
    text-shadow: none;
  }
  86% {
    opacity: 0;
    text-shadow: none;
  }
  86.1% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
  100% {
    opacity: 1;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
  }
}
.home {
  display: flex;
  flex-direction: column;
}
.home video {
  position: relative;
  min-height: 100vh;
  object-fit: cover;
}
.home__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  color: rgba(255, 255, 255, 0.9803921569);
  padding: 2rem;
  position: absolute;
  z-index: 1500;
  top: 25%;
}
.home__title {
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
}
.home__title span {
  font-family: "Roboto Slab", serif;
  color: rgb(98, 67, 255);
}
.home__description {
  font-family: "Roboto Slab", serif;
}
.home__sponsors {
  padding: 2rem;
}
@media screen and (min-width: 55em) {
  .home video {
    width: 100vw;
  }
  .home__text-content {
    align-items: flex-start;
  }
  .home__title {
    font-size: 4rem;
    text-align: start;
  }
  .home__description {
    width: 50%;
  }
}

.teams {
  padding: 2rem;
}
.teams__text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.teams__text-content h1 {
  color: #001C30;
}
.teams__text-content h1 span {
  color: #ff198f;
  font-family: "Roboto Slab", serif;
}
.teams__text-content p {
  color: #868686;
  font-family: "Roboto Slab", serif;
}
.teams__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}
.teams__team img {
  filter: grayscale(100%);
  border-radius: 0.5rem;
  object-fit: cover;
  transition: 0.5s ease;
}
.teams__team img:hover {
  filter: none;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.56);
  transform: scale(1.05);
}
@media screen and (min-width: 55em) {
  .teams__text-content {
    align-items: flex-start;
  }
  .teams__text-content p {
    width: 60%;
  }
  .teams__container {
    grid-template-columns: repeat(3, 1fr);
  }
  .teams__team img {
    height: 30rem;
  }
}

.game {
  color: #001C30;
}
.game__banner {
  position: relative;
  height: 200px;
}
.game__banner__lol {
  background-image: url("../assets/backgrounds/lol-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.game__banner__valorant {
  background-image: url("../assets/backgrounds/valorant-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.game__banner__csgo {
  background-image: url("../assets/backgrounds/csgo-banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.game__circle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #181818;
  border-radius: 50%;
  width: 120px;
  aspect-ratio: 1;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game__text-content .flex-container h1 {
  text-transform: uppercase;
  margin: 4rem 0 2rem 0;
}
.game__text-content iframe {
  min-height: 200px;
  width: 100%;
  margin-top: 2rem;
}
.game__roster-matches, .game__text-content {
  padding: 2rem;
}
.game__roster h2, .game__matches h2 {
  margin-bottom: 1rem;
}
@media screen and (min-width: 55em) {
  .game__circle {
    top: 100%;
    left: 10%;
  }
  .game__text-content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .game__text-content iframe {
    height: 300px;
    min-width: 520px;
  }
  .game__roster-matches {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
  }
  .game__roster, .game__matches {
    width: 50%;
  }
}

.rotate-center:hover {
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.about-us__intro {
  position: relative;
}
.about-us__intro img {
  min-height: 70vh;
  object-fit: cover;
}
.about-us__intro h1 {
  color: rgba(255, 255, 255, 0.9803921569);
  text-align: center;
  font-size: 3rem;
  width: 70%;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.about-us__our-mission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  text-align: center;
}
.about-us__our-mission div h2 {
  margin-bottom: 1rem;
}
.about-us__container {
  background-image: url("../assets/backgrounds/index-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
}
.about-us__cards-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}
.about-us__archievements-section {
  display: flex;
  flex-direction: column;
  color: rgba(255, 255, 255, 0.9803921569);
  padding: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.about-us__archievements-section span {
  color: red;
}
.about-us__archievements-section div {
  font-weight: 900;
}
.about-us__archievements-section div .number {
  font-size: 2rem;
}
.about-us__archievements-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 55em) {
  .about-us__intro img {
    min-width: 100%;
    max-height: 600px;
  }
  .about-us__intro h1 {
    text-align: start;
    top: 30%;
    left: 40%;
  }
  .about-us__our-mission {
    text-align: start;
    flex-direction: row;
  }
  .about-us__our-mission img {
    max-width: 400px;
  }
  .about-us__archievements-section h2 {
    margin: 5rem 0;
    font-size: 4.2rem;
  }
  .about-us__archievements-section div {
    margin-bottom: 5rem;
  }
  .about-us__archievements-section div .number {
    font-size: 4rem;
  }
  .about-us__archievements-container {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 48%, rgba(0, 0, 0, 0) 89%);
  position: absolute;
  z-index: -1;
  min-height: 100%;
  min-width: 100%;
}

/*# sourceMappingURL=style.css.map */
