$color-white: #ffffff;
$color-dark-blue: #001C30;
$color-light-gray: #868686;

$ff-sans: 'Montserrat', sans-serif;
$ff-serif: 'Roboto Slab', serif;

$fw-400: 400;
$fw-600: 600;
$fw-900: 900;

$padding: 2rem !default;
$border-radius: 2rem !default;
$flex-gap: 2rem !default;

*{
    font-family: $ff-sans;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.5;
    min-height: 100vh;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
}

main{
    min-height: 100vh;
    margin-top: 80px;
}

.logo{
    width: 80px;
}

@mixin flexbox($direction: none, $justify: none, $align: none, $gap: $flex-gap, $wrap: none){
    display: flex;
    @if $direction != none {
        flex-direction: $direction;
    }
    @if $justify != none {
        justify-content: $justify;
    }
    @if $align != none {
        align-content: $align;
    }
    @if $gap != none {
        gap: $gap;
    }
    @if $wrap != none {
        flex-wrap: $wrap;
    }
}

@mixin bg-image($url, $repeat: no-repeat, $size: cover, $position: center){
    background-image: url($url);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin desktop(){
    @media screen and (min-width: 64em){
        @content
    }
}