$ff-sans: "Montserrat", sans-serif;
$ff-serif: "Roboto Slab", serif;

$colors: (
    "off-white": #fffffffa,
    "smoke-white": #f5f5f5,
    "off-black": #0f0f0f,
    "dark-blue": #001C30,
    "light-gray": #868686,
    "dark-gray": #181818,
    "custom-magenta": #ff198f,
    "sky-blue": #90EBFF,
    "baby-blue": #9DCAFF,
    "fe-red": #FF0101
);

$padding: 2rem !default;
$border-radius: 2rem !default;
$white-space: nowrap !default;