$ff-sans: "Montserrat", sans-serif;
$ff-serif: "Roboto Slab", serif;

$colors: (
    "off-white": #fffffffa,
    "dark-blue": #001C30,
    "light-gray": #868686,
    "dark-gray": #181818,
    "custom-magenta": #ff198f,
    "sky-blue": #90EBFF,
);

$padding: 2rem !default;
$border-radius: 2rem !default;
$white-space: nowrap !default;