<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <title>Legit Ones · About us</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/l1-logo.png"  alt="Legit One Logo"></a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="../index.html">Home</a></li>
                <li class="header__nav-item"><a href="./teams.html">Teams</a></li>
                <li class="header__nav-item"><a href="./about-us.html">About us</a></li>
                <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="about-us">
        <div class="about-us__content">
            <div>
                <h1 class="about-us__title">About us</h1>
                <div class="about-us__description">
                    <p>We are Legit Ones, a passionate and dedicated esports team committed to taking competitive gaming to the next level. We take pride in being recognized for our skill, dedication, and sportsmanship in the world of electronic sports.</p>
                    <br>
                    <p>At Legit Ones, we relentlessly pursue excellence in every competition we engage in. Our team comprises talented and committed players who have proven their worth in numerous renowned tournaments and leagues.</p>
                    <br>
                    <p>We thrive on competing across a wide spectrum of games, ranging from popular first-person shooters to challenging strategy games. Our focus extends beyond individual player skill, encompassing communication, coordination, and team synergy.</p>
                    <br>
                    <p>In addition to our involvement in tournaments and leagues, we are actively engaged in fostering the esports community. We organize events, livestream our matches, and collaborate with other passionate teams and players in the esports scene.</p>
                    <br>
                    <p>Join us on this exhilarating adventure as we continue to make our mark in the world of esports. Together, as Legit Ones, we are poised to tackle any challenge and elevate our passion for electronic sports to new heights.</p>
                </div>
            </div>
            <iframe class="about-us__video" width="560" height="315" src="https://www.youtube.com/embed/7SzkvJfZrCg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="about-us__banner">
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>
</body>
</html>