<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
        
    <title>About us</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/kru-logo.png"> </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="../index.html">Home</a></li>
                <li class="header__nav-item"><a href="./matches.html">Matches</a></li>
                <li class="header__nav-item"><a href="./team.html">Team</a></li>
                <li class="header__nav-item"><a href="./about-us.html">About us</a></li>
                <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="about-us">
        <div class="about-us__content">
            <div>
                <h1 class="about-us__title">About us</h1>
                <p class="about-us__description">Lorem ipsum dolor sit amet consectetur adipiscing elit fames vivamus nullam eget, ad elementum congue felis cras dignissim eu scelerisque imperdiet quis, laoreet tempus cum quisque mollis duis penatibus urna vulputate nisi. Eget morbi ornare aptent metus per aenean vitae torquent curabitur, suspendisse fusce litora sollicitudin proin mi est magnis eros iaculis, maecenas conubia non habitasse integer elementum gravida donec. Ac neque ad eu cubilia mus mi nam convallis, imperdiet conubia pharetra taciti ornare netus tellus venenatis semper, suscipit hac platea dui gravida donec accumsan.
                Lorem ipsum dolor sit amet consectetur adipiscing elit fames vivamus nullam eget, ad elementum congue felis cras dignissim eu scelerisque imperdiet quis, laoreet tempus cum quisque mollis duis penatibus urna vulputate nisi.
                </p>
            </div>
            <iframe class="about-us__video" width="560" height="315" src="https://www.youtube.com/embed/7SzkvJfZrCg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="about-us__banner">
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>
</body>
</html>