<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Roboto+Slab:wght@400;600;900&display=swap" rel="stylesheet">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Legit Ones · CS:GO Team</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/l1-logo.png"  alt="Legit One Logo"></a>
        <nav class="header__nav navbar">
            <ul class="navbar__list">
                <li class="navbar__list--item"><a href="../index.html">Home</a></li>
                <li class="navbar__list--item"><a href="./teams.html">Teams</a></li>
                <li class="navbar__list--item"><a href="./about-us.html">About us</a></li>
                <li class="navbar__list--item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="game">
        <div class="game__banner game__banner--csgo">
            <div class="game__circle">
                <img class="rotate-center" src="../assets/logos/cs-logo.png" width="80" alt="game-logo">
            </div>
        </div>
        <div class="game__text-content">
            <div class="flex-container">
                <h1>Counter Strike</h1>
                <p>One of the org's oldest and most successful teams, Fnatic's Valorant team is a powerhouse in the esport. From winning the first ever Valorant World Championship in 2011 to seven European split titles, the team still competes at the highest levels both in Europe and internationally, consistently vying for the title in Europe and beating out big international names to make deep runs at Worlds.</p>
            </div>
            <iframe src="https://www.youtube.com/embed/VCJJcpQC0og" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="game__team-matches-container">
            <div class="game__team">
                <h2>Players</h2>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">In-Game Leader</p>
                            <p class="player-card__player-info--nickname">L1 Thunderbolt</p>
                            <p class="player-card__player-info--realname">Lucas Thompson</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/chile.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="https://twitter.com/" target="_blank"><img src="../assets/social/twitter.svg" alt="Twitter Icon"></a>
                        <a href="https://www.twitch.tv/" target="_blank"><img src="../assets/social/twitch.svg" alt="Twitch Icon"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/social/instagram.svg" alt="Instagram Icon"></a>
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Awper</p>
                            <p class="player-card__player-info--nickname">L1 Shadowstrike</p>
                            <p class="player-card__player-info--realname">Gabriel Rodriguez</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/peru.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="https://twitter.com/" target="_blank"><img src="../assets/social/twitter.svg" alt="Twitter Icon"></a>
                        <a href="https://www.twitch.tv/" target="_blank"><img src="../assets/social/twitch.svg" alt="Twitch Icon"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/social/instagram.svg" alt="Instagram Icon"></a>
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Entry Fragger</p>
                            <p class="player-card__player-info--nickname">L1 Ironclad</p>
                            <p class="player-card__player-info--realname">Caleb Davis</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/uruguay.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="https://twitter.com/" target="_blank"><img src="../assets/social/twitter.svg" alt="Twitter Icon"></a>
                        <a href="https://www.twitch.tv/" target="_blank"><img src="../assets/social/twitch.svg" alt="Twitch Icon"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/social/instagram.svg" alt="Instagram Icon"></a>
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Lurker</p>
                            <p class="player-card__player-info--nickname">L1 Swiftblade</p>
                            <p class="player-card__player-info--realname">Nathan Wilson</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/argentina.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="https://twitter.com/" target="_blank"><img src="../assets/social/twitter.svg" alt="Twitter Icon"></a>
                        <a href="https://www.twitch.tv/" target="_blank"><img src="../assets/social/twitch.svg" alt="Twitch Icon"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/social/instagram.svg" alt="Instagram Icon"></a>
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Support</p>
                            <p class="player-card__player-info--nickname">L1 Rapidfire</p>
                            <p class="player-card__player-info--realname">Alexander Harris</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/argentina.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="https://twitter.com/" target="_blank"><img src="../assets/social/twitter.svg" alt="Twitter Icon"></a>
                        <a href="https://www.twitch.tv/" target="_blank"><img src="../assets/social/twitch.svg" alt="Twitch Icon"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/social/instagram.svg" alt="Instagram Icon"></a>
                    </div>
                </div>
                <h2>Staff</h2>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Coach</p>
                            <p class="player-card__player-info--nickname">Soulreaper</p>
                            <p class="player-card__player-info--realname">Benjamin Anderson</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/argentina.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="https://twitter.com/" target="_blank"><img src="../assets/social/twitter.svg" alt="Twitter Icon"></a>
                        <a href="https://www.twitch.tv/" target="_blank"><img src="../assets/social/twitch.svg" alt="Twitch Icon"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/social/instagram.svg" alt="Instagram Icon"></a>
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Team Director</p>
                            <p class="player-card__player-info--nickname">Frostbite</p>
                            <p class="player-card__player-info--realname">Ethan Miller</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/peru.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="https://twitter.com/" target="_blank"><img src="../assets/social/twitter.svg" alt="Twitter Icon"></a>
                        <a href="https://www.twitch.tv/" target="_blank"><img src="../assets/social/twitch.svg" alt="Twitch Icon"></a>
                        <a href="https://www.instagram.com/" target="_blank"><img src="../assets/social/instagram.svg" alt="Instagram Icon"></a>
                    </div>
                </div>
            </div>
            <div class="game__matches">
                <h2>Upcoming</h2>
                <div class="match-card upcoming">
                    <div class="match-card__content">
                      <p class="match-card__content--match">Legit Ones vs Cloud9</p>
                      <p class="match-card__content--info"><span>CS:GO Major Championships 2023</span><br>16:45hs - 18 Apr 2023</p>
                    </div>
                    <div class="match-card__logos">
                      <img class="match-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="match-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Cloud9 Logo">
                    </div>          
                </div>
                <h2>Past Games</h2>
                <div class="match-card" data-aos="fade-up">
                    <div class="match-card__content">
                      <p class="match-card__content--match">Legit Ones vs Cloud9</p>
                      <p class="match-card__content--info"><span>CS:GO Major Championships 2023</span><br>13:50hs - 15 Apr 2023</p>
                    </div>
                    <div class="match-card__logos">
                      <img class="match-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="match-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Cloud9 Logo">
                    </div>          
                </div>
                <div class="match-card" data-aos="fade-up">
                    <div class="match-card__content">
                      <p class="match-card__content--match">Legit Ones vs Kru Esports</p>
                      <p class="match-card__content--info"><span>CS:GO Major Championships 2023</span><br>11:45hs - 11 Apr 2023</p>
                    </div>
                    <div class="match-card__logos">
                      <img class="match-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="match-card__logos--their-team" src="../assets/logos/kru-logo.png" alt="Kru Esports Logo">
                    </div>          
                </div>
                <div class="match-card" data-aos="fade-up">
                    <div class="match-card__content">
                      <p class="match-card__content--match">Legit Ones vs Team Liquid</p>
                      <p class="match-card__content--info"><span>CS:GO Major Championships 2023</span><br>10:30hs - 08 Apr 2023</p>
                    </div>
                    <div class="match-card__logos">
                      <img class="match-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="match-card__logos--their-team" src="../assets/logos/team-liquid-logo.svg" alt="Team Liquid Logo">
                    </div>          
                </div>
                <div class="match-card" data-aos="fade-up">
                    <div class="match-card__content">
                      <p class="match-card__content--match">Legit Ones vs G2 Esports</p>
                      <p class="match-card__content--info"><span>CS:GO Major Championships 2023</span><br>16:45hs - 03 Apr 2023</p>
                    </div>
                    <div class="match-card__logos">
                      <img class="match-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="match-card__logos--their-team" src="../assets/logos/g2-logo.png" alt="G2 Esports Logo">
                    </div>          
                </div>
                <div class="match-card" data-aos="fade-up">
                    <div class="match-card__content">
                      <p class="match-card__content--match">Legit Ones vs Sentinels</p>
                      <p class="match-card__content--info"><span>CS:GO Major Championships 2023</span><br>13:45hs - 02 Apr 2023</p>
                    </div>
                    <div class="match-card__logos">
                      <img class="match-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="match-card__logos--their-team" src="../assets/logos/sentinels-logo.png" alt="Sentinels Logo">
                    </div>          
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>

    <!-- AOS Init -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>