<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Legit Ones · League Of Legends Team</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/l1-logo.png"  alt="Legit One Logo"></a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="../index.html">Home</a></li>
                <li class="header__nav-item"><a href="./teams.html">Teams</a></li>
                <li class="header__nav-item"><a href="./about-us.html">About us</a></li>
                <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="game">
        <div class="game__banner game__banner--lol">
            <div class="game__circle">
                <a href=""><img class="rotate-center" src="../assets/logos/lol-logo.png" width="80" alt="League of Legends Logo"></a>
            </div>
        </div>
        <div class="game__content">
            <div>
                <h1 class="game__content--title">League of Legends</h1>
                <p class="game__content--description">One of the org's oldest and most successful teams, Fnatic's Valorant team is a powerhouse in the esport. From winning the first ever Valorant World Championship in 2011 to seven European split titles, the team still competes at the highest levels both in Europe and internationally, consistently vying for the title in Europe and beating out big international names to make deep runs at Worlds.</p>
            </div>
            <!-- Video -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/mDYqT0_9VR4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="game__team-matches-container">
            <div class="game__team">
                <h2>Players</h2>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/faker.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Mid Lane</p>
                            <p class="player-card__player-info--nickname">L1 NarcCop</p>
                            <p class="player-card__player-info--realname">Alexander Miller</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/chile.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <a href="#"><img src="../assets/social/twitter.svg" alt="twitter"></a>
                        <a href="#"><img src="../assets/social/twitch.svg" alt="twitch"></a>
                        <a href="#"><img src="../assets/social/instagram.svg" alt="instagram"></a>
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/faker.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Jungle</p>
                            <p class="player-card__player-info--nickname">L1 GilFrog</p>
                            <p class="player-card__player-info--realname">Benjamin Davis</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/peru.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/faker.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Support</p>
                            <p class="player-card__player-info--nickname">L1 Bibliokiller</p>
                            <p class="player-card__player-info--realname">Samuel Johnson</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/uruguay.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/faker.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Bot Lane</p>
                            <p class="player-card__player-info--nickname">L1 Gigadude</p>
                            <p class="player-card__player-info--realname">Henry Anderson</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/argentina.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/faker.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Top Lane</p>
                            <p class="player-card__player-info--nickname">L1 AttackAttack</p>
                            <p class="player-card__player-info--realname">Matthew Thompson</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/argentina.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <h2>Staff</h2>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/faker.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Coach</p>
                            <p class="player-card__player-info--nickname">HoltHamlet</p>
                            <p class="player-card__player-info--realname">Daniel Martinez</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/argentina.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card" data-aos="fade-right">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/players/faker.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Team Director</p>
                            <p class="player-card__player-info--nickname">Daybreak</p>
                            <p class="player-card__player-info--realname">William Harris</p>
                            <img class="player-card__player-info--country-flag" src="../assets/players/flags/peru.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
            </div>
            <div class="game__matches">
                <h2>Upcoming</h2>
                <div class="game-card upcoming-game">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Legit Ones vs Cloud9</p>
                      <p class="game-card__content--info"><span>League of Legends World Championship</span><br>16:45hs - 18 Apr 2023</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="game-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Cloud9 Logo">
                    </div>          
                </div>
                <h2>Past Games</h2>
                <div class="game-card" data-aos="fade-up">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Legit Ones vs Cloud9</p>
                      <p class="game-card__content--info"><span>League of Legends World Championship</span><br>13:50hs - 15 Apr 2023</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="game-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Cloud9 Logo">
                    </div>          
                </div>
                <div class="game-card" data-aos="fade-up">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Legit Ones vs Kru Esports</p>
                      <p class="game-card__content--info"><span>League of Legends World Championship</span><br>11:45hs - 11 Apr 2023</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="game-card__logos--their-team" src="../assets/logos/kru-logo.png" alt="Kru Esports Logo">
                    </div>          
                </div>
                <div class="game-card" data-aos="fade-up">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Legit Ones vs Team Liquid</p>
                      <p class="game-card__content--info"><span>League of Legends World Championship</span><br>10:30hs - 08 Apr 2023</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="game-card__logos--their-team" src="../assets/logos/team-liquid-logo.svg" alt="Team Liquid Logo">
                    </div>          
                </div>
                <div class="game-card" data-aos="fade-up">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Legit Ones vs G2 Esports</p>
                      <p class="game-card__content--info"><span>League of Legends World Championship</span><br>16:45hs - 03 Apr 2023</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="game-card__logos--their-team" src="../assets/logos/g2-logo.png" alt="G2 Esports Logo">
                    </div>          
                </div>
                <div class="game-card" data-aos="fade-up">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Legit Ones vs Sentinels</p>
                      <p class="game-card__content--info"><span>League of Legends World Championship</span><br>13:45hs - 02 Apr 2023</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/l1-logo.png" alt="Legit One Logo">
                      <img class="game-card__logos--their-team" src="../assets/logos/sentinels-logo.png" alt="Sentinels Logo">
                    </div>          
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>

    <!-- AOS Init -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>