<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matches</title>
</head>
<body>
    <header>
        <img class="header-logo" src="/assets/kru-logo.png" alt="team-logo"> 
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="/index.html">Home</a></li>
                <li><a href="/views/matches.html">Matches</a></li>
                <li><a href="/views/team.html">Team</a></li>
                <li><a href="/views/about-us.html">About us</a></li>
                <li><a href="/views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="matches-main">
        <div class="past-matches">
            <h2>Past Matches</h2>
            <div class="match">
                <div class="match-info">
                    <img src="#" alt="game-logo">
                    <div class="info">
                        <p>date</p>
                        <p>tournament name</p>
                    </div>
                </div>
                <div class="match-teams">
                    <div class="team">
                        <img src="#" alt="our-logo">
                        <div class="our-info">
                            <p>abbreviated team name</p>
                            <p>team name</p>
                        </div>
                        <p>score</p>
                    </div>
                    <p>:</p>
                    <div class="team">
                        <img src="#" alt="our-logo">
                        <div class="our-info">
                            <p>abbreviated team name</p>
                            <p>team name</p>
                        </div>
                        <p>score</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="upcoming-match">
            <h2>Upcoming...</h2>
            <div class="upcoming-container">
                <img src="#" alt="our-team-logo">
                <p>VS</p>
                <img src="#" alt="their-team-logo">
            </div>
        </div>
    </main>
    <footer>
        <p>©2023 Juan Membiela All Rights Reserved</p>
    </footer>
</body>
</html>