<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Roboto+Slab:wght@400;600;900&display=swap" rel="stylesheet">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Legit Ones · New About Us</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/logo-header.png"> </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="../index.html">Home</a></li>
                <li class="header__nav-item"><a href="./teams.html">Teams</a></li>
                <li class="header__nav-item"><a href="./about-us.html">About us</a></li>
                <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <img src="#" alt="">
            <h1>THE MOST POPULAR ESPORT ORGANIZATION IN THE WORLD</h1>
        </div>
        <div>
            <div>
                <h2>OUR MISSION</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, obcaecati amet magnam sint optio explicabo et architecto error suscipit, iste molestiae, consectetur sapiente quibusdam. Ratione consequatur quis repudiandae sapiente culpa!</p>
            </div>
            <img src="#" alt="">
        </div>
        <div>
            <div class="cards-container">
                <div class="card">
                    <img src="#" alt="">
                    <div class="content">
                        <h3>Lorem.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quisquam.</p>
                    </div>
                </div>
            </div>
            <div class="archivements">
                <h2>Archivements</h2>
                <div>
                    <div>
                        <p>50+</p>
                        <p>1st Places</p>
                    </div>
                    <div>
                        <p>4</p>
                        <p>Teams</p>
                    </div>
                    <div>
                        <p>3k</p>
                        <p>Matches</p>
                    </div>
                    <div>
                        <p>40M</p>
                        <p>Fans Worldwide</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="info-container">

            </div>
            <div class="map"></div>
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>
    
    <!-- AOS Init -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
</body>
</html>