<!-- http://127.0.0.1:5500/views/new-page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&family=Roboto+Slab:wght@400;600;900&display=swap" rel="stylesheet">
    <!-- AOS -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <title>Legit Ones · Valorant Team</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/l1-logo.png"  alt="Legit One Logo"></a>
        <nav class="header__nav navbar">
            <ul class="navbar__list">
                <li class="navbar__list--item"><a href="../index.html">Home</a></li>
                <li class="navbar__list--item"><a href="./teams.html">Teams</a></li>
                <li class="navbar__list--item"><a href="./about-us.html">About us</a></li>
                <li class="navbar__list--item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="ab2">
        <div class="ab2__intro">
            <img src="../assets/backgrounds/danny-howe-bn-D2bCvpik-unsplash.jpg" alt="">
            <h1 class="text-flicker-in-glow">THE MOST POPULAR ESPORT ORGANIZATION IN THE WORLD</h1>
        </div>
        <div class="ab2__mission-section">
            <div>
                <h2>OUR MISSION</h2>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti, obcaecati amet magnam sint optio explicabo et architecto error suscipit, iste molestiae, consectetur sapiente quibusdam. Ratione consequatur quis repudiandae sapiente culpa!</p>
            </div>
            <img data-aos="fade-left" data-aos-easing="ease-in" data-aos-duration="1000" src="../assets/backgrounds/pexels-fauxels-3182773.jpg" alt="Our Mission Image">
        </div>
        <div class="ab2__cards-archivements-container">
            <div class="overlay"></div>
            <div class="ab2__cards-container">
                <div class="card" data-aos="fade-up" data-aos-easing="ease-in-cubic" data-aos-duration="1000">
                    <img src="../assets/backgrounds/pexels-matheus-bertelli-3856026.jpg" alt="">
                    <div class="content">
                        <h3>Community</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quisquam.</p>
                    </div>
                </div>
                <div class="card" data-aos="fade-up" data-aos-easing="ease-in-cubic" data-aos-duration="1500">
                    <img src="../assets/backgrounds/fondito.jpg" alt="">
                    <div class="content">
                        <h3>Universe</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quisquam.</p>
                    </div>
                </div>
                <div class="card" data-aos="fade-up" data-aos-easing="ease-in-cubic" data-aos-duration="2000">
                    <img src="../assets/backgrounds/pexels-alena-darmel-7862509.jpg" alt="">
                    <div class="content">
                        <h3>Lorem.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, quisquam.</p>
                    </div>
                </div>
            </div>
            <div class="archivements">
                <h2>Archiv<span>ements</span></h2>
                <div class="archivements__stats">
                    <div data-aos="flip-up" data-aos-duration="2000">
                        <p class="number">50<span>+</span></p>
                        <p>1st Places</p>
                    </div>
                    <div data-aos="flip-up" data-aos-duration="2000">
                        <p class="number">4</p>
                        <p>Teams</p>
                    </div>
                    <div data-aos="flip-up" data-aos-duration="2000">
                        <p class="number">3<span>k</span></p>
                        <p>Matches</p>
                    </div>
                    <div data-aos="flip-up" data-aos-duration="2000">
                        <p class="number">40<span>m</span></p>
                        <p>Fans Worldwide</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>

    <!-- AOS Init -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
</body>
</html>