<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <title>Team</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/kru-logo.png"> </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="../index.html">Home</a></li>
                <li class="header__nav-item"><a href="./matches.html">Matches</a></li>
                <li class="header__nav-item"><a href="./team.html">Team</a></li>
                <li class="header__nav-item"><a href="./about-us.html">About us</a></li>
                <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="team">
        <div class="game">
            <h1 class="game__name">VALORANT</h1>
        </div>
        <div class="team__players">
            <!-- Dependiendo la cantidad de jugadores se repite player-container -->
            <div class="player">
                <img class="player__image" src="../assets/s1mple.png" alt="player__image">
                <div class="player__info">
                    <h4 class="player__nickname">s1mple</h4>
                    <img class="player__country-image" src="../assets/ukraine.png" alt="country">
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>
</body>
</html>