<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team</title>
</head>
<body>
    <header>
        <img class="header-logo" src="./assets/kru-logo.png" alt="team-logo"> 
        <nav class="navbar">
            <ul class="nav-list">
                <li><a href="./index.html">Home</a></li>
                <li><a href="./views/matches.html">Matches</a></li>
                <li><a href="./views/team.html">Team</a></li>
                <li><a href="./views/about-us.html">About us</a></li>
                <li><a href="./views/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="team-main">
        <div class="banner-game">
            <h1>Game Name</h1>
        </div>
        <div class="team-container">
            <!-- Dependiendo la cantidad de jugadores se repite player-container -->
            <div class="player-container">
                <div class="name-flag">
                    <h4>player-nickname</h4>
                    <img src="#" alt="country-flag">
                </div>
                <img src="#" alt="player-img">
            </div>
        </div>
    </main>
    <footer>
        <p>©2023 Juan Membiela All Rights Reserved</p>
    </footer>
</body>
</html>