<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <title>Legit Ones · Games</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/l1-logo.png"> </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="../index.html">Home</a></li>
                <li class="header__nav-item"><a href="./teams.html">Teams</a></li>
                <li class="header__nav-item"><a href="./about-us.html">About us</a></li>
                <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="teams">
        <div>
            <a href="./valorant.html"><img src="../assets/backgrounds/VALORANT_Jett_Dark.jpg" alt="VALORANT"></a>
        </div>
        <div>
            <a href="#"><img src="../assets/backgrounds/csgo-bg.jpg" alt="VALORANT"></a>
        </div>
        <div>
            <a href="#"><img src="../assets/backgrounds/Jinx_ArcaneSkin.webp" alt="VALORANT"></a>
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>
</body>
</html>