<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS File -->
    <link rel="stylesheet" href="../css/style.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">

    <title>Team</title>
</head>
<body>
    <header class="header">
        <a href="../index.html"><img class="header__logotype" src="../assets/logos/logo-header.png"> </a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="../index.html">Home</a></li>
                <li class="header__nav-item"><a href="./teams.html">Teams</a></li>
                <li class="header__nav-item"><a href="./about-us.html">About us</a></li>
                <li class="header__nav-item"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main class="valorant">
        <div class="valorant__banner">
            <div class="valorant__circle">
                <img class="valorant__circle--logo" src="../assets/V_Logomark_Navy.png" alt="game-logo">
            </div>
        </div>
        <div class="valorant__content">
            <div>
                <h1 class="valorant__content--title">Valorant</h1>
                <p class="valorant__content--description">One of the org's oldest and most successful teams, Fnatic's Valorant team is a powerhouse in the esport. From winning the first ever Valorant World Championship in 2011 to seven European split titles, the team still competes at the highest levels both in Europe and internationally, consistently vying for the title in Europe and beating out big international names to make deep runs at Worlds.</p>
            </div>
            <iframe class="valorant__content--video" width="560" height="315" src="https://www.youtube.com/embed/kB6hMm-ctf8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
        <div class="valorant__team-matches-container">
            <div class="valorant__team">
                <h2>Players</h2>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Initiator</p>
                            <p class="player-card__player-info--nickname">s1mple</p>
                            <p class="player-card__player-info--realname">Олександр Олегович Костилєв</p>
                            <img class="player-card__player-info--country-flag" src="../assets/ukraine.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Initiator</p>
                            <p class="player-card__player-info--nickname">s1mple</p>
                            <p class="player-card__player-info--realname">Олександр Олегович Костилєв</p>
                            <img class="player-card__player-info--country-flag" src="../assets/ukraine.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Initiator</p>
                            <p class="player-card__player-info--nickname">s1mple</p>
                            <p class="player-card__player-info--realname">Олександр Олегович Костилєв</p>
                            <img class="player-card__player-info--country-flag" src="../assets/ukraine.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Initiator</p>
                            <p class="player-card__player-info--nickname">s1mple</p>
                            <p class="player-card__player-info--realname">Олександр Олегович Костилєв</p>
                            <img class="player-card__player-info--country-flag" src="../assets/ukraine.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Initiator</p>
                            <p class="player-card__player-info--nickname">s1mple</p>
                            <p class="player-card__player-info--realname">Олександр Олегович Костилєв</p>
                            <img class="player-card__player-info--country-flag" src="../assets/ukraine.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <h2>Staff</h2>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Initiator</p>
                            <p class="player-card__player-info--nickname">s1mple</p>
                            <p class="player-card__player-info--realname">Олександр Олегович Костилєв</p>
                            <img class="player-card__player-info--country-flag" src="../assets/ukraine.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
                <div class="player-card">
                    <div class="player-card__player-info">
                        <img class="player-card__player-info--image" src="../assets/s1mple.png" alt="Player image">
                        <div>
                            <p class="player-card__player-info--role">Initiator</p>
                            <p class="player-card__player-info--nickname">s1mple</p>
                            <p class="player-card__player-info--realname">Олександр Олегович Костилєв</p>
                            <img class="player-card__player-info--country-flag" src="../assets/ukraine.png" alt="Player country flag">
                        </div>
                    </div>
                    <div class="player-card__social-media">
                        <img src="../assets/social/twitter.svg" alt="twitter">
                        <img src="../assets/social/twitch.svg" alt="twitch">
                        <img src="../assets/social/instagram.svg" alt="instagram">
                    </div>
                </div>
            </div>
            <div class="valorant__matches">
                <h2>Past Games</h2>
                <div class="game-card">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Kru Esports vs Cloud9</p>
                      <p class="game-card__content--info">13:00hs - 04 Apr 2023 | VCT Champions Tournament</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/kru-logo.png" alt="Our Team">
                      <img class="game-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Their Team">
                    </div>          
                </div>
                <div class="game-card">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Kru Esports vs Cloud9</p>
                      <p class="game-card__content--info">13:00hs - 04 Apr 2023 | VCT Champions Tournament</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/kru-logo.png" alt="Our Team">
                      <img class="game-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Their Team">
                    </div>          
                </div>
                <div class="game-card">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Kru Esports vs Cloud9</p>
                      <p class="game-card__content--info">13:00hs - 04 Apr 2023 | VCT Champions Tournament</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/kru-logo.png" alt="Our Team">
                      <img class="game-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Their Team">
                    </div>          
                </div>
                <div class="game-card">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Kru Esports vs Cloud9</p>
                      <p class="game-card__content--info">13:00hs - 04 Apr 2023 | VCT Champions Tournament</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/kru-logo.png" alt="Our Team">
                      <img class="game-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Their Team">
                    </div>          
                </div>
                <div class="game-card">
                    <div class="game-card__content">
                      <p class="game-card__content--match">Kru Esports vs Cloud9</p>
                      <p class="game-card__content--info">13:00hs - 04 Apr 2023 | VCT Champions Tournament</p>
                    </div>
                    <div class="game-card__logos">
                      <img class="game-card__logos--our-team" src="../assets/logos/kru-logo.png" alt="Our Team">
                      <img class="game-card__logos--their-team" src="../assets/logos/c9-logo.png" alt="Their Team">
                    </div>          
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>©2023 2saucy All Rights Reserved</p>
    </footer>
</body>
</html>