.about-us{
    @include flexbox();
    @include bg-image($url: "../assets/backgrounds/tony-reid.jpg");
    padding: $padding;

    &__content{
        @include flexbox($direction: column, $justify: space-between);
        background-color: $color-white;
        padding: $padding;
        border-radius: $border-radius;
        min-width: 100%;
    }
    &__title{
        margin-bottom: 2rem;
    }
    &__description{
        p{
            font-family: $ff-serif;
        }
    }
    &__video{
        margin-top: 2rem;
        width: auto;
    }
    &__banner{
        display: none;
    }

    @include desktop{
        &{
            padding: 0;
            background-image: none;
        }
        &__content{
            min-height: 100vh;
            width: 50%;
            border-radius: 0;
            min-width: 0;
        }
        &__banner{
            display: block;
            @include bg-image($url: "../assets/backgrounds/tony-reid.jpg");
            width: 50%;
        }
    }
}
