.about-us{

    &__intro{
        position: relative;
        img{
            min-height: 70vh;
            object-fit: cover;
        }
        h1{
            color: map-get($colors, off-white);
            text-align: center;
            font-size: 3rem;
            width: 70%;
            position: absolute;
            top: 15%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__our-mission{
        @include flex-container($direction: column, $justify-content: space-between, $align-items:center, $gap: 2rem);
        padding: $padding;
        text-align: center;
        color: map-get($colors, dark-blue);

        div{
            h2{
                margin-bottom: 1rem;
            }
        }
    }

    &__container{
        @include bg-image($url: "../assets/backgrounds/index-bg.jpg");
        position: relative;
        z-index: 1;
    }

    &__cards-container{
        @include flex-container($justify-content:space-evenly,$align-items:center, $wrap: wrap, $gap:2rem);
        padding: $padding;
    }

    &__archievements-section{
        @include flex-container($direction: column);
        color: map-get($colors, off-white);
        padding: $padding;
        text-transform: uppercase;
        text-align: center;
        span{
            color: red;
        }
        div{
            font-weight: map-get($font-weights, extra-bold);
            .number{
                font-size: 2rem;
            }
        }
    }

    &__archievements-container{
        @include flex-container($direction: column, $align-items:center, $justify-content: center);
        text-align: center;
    }

    @include desktop{
        
        &__intro{
            img{
                min-width: 100%;
                max-height: 600px;
            }
            h1{
                text-align: start;
                top: 30%;
                left: 40%;
            }
        }

        &__our-mission{
            text-align: start;
            flex-direction: row;
            img{
                max-width: 400px;
            }
        }

        &__archievements-section{
            h2{
                margin: 5rem 0;
                font-size: 4.2rem;
            }
            div{
                margin-bottom: 5rem;
                .number{
                    font-size: 4rem;
                }
            }
        }

        &__archievements-container{
            flex-direction: row;
            justify-content: space-evenly;
        }

    }
}

.overlay{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 48%, rgba(0,0,0,0) 89%);
    position: absolute;
    z-index: -1;
    min-height: 100%;
    min-width: 100%;
}