.contact{
    @include flex-container();
    @include bg-image($url: "../assets/backgrounds/maurice-sahl.jpg");
    padding: $padding;

    &__content{
        background-color: map-get($colors, off-white);;
        padding: $padding;
        border-radius: $border-radius;
        min-width: 100%;
    }
    &__title{
        margin-bottom: 2rem;
    }
    &__text-content{
        h3{
            color: map-get($colors, light-gray);
            text-transform: uppercase;
        }
        p{
            margin-bottom: 1.5rem;
        }
    }
    &__social-media{
        @include flex-container();
        padding: 1rem 0;
    }
    &__partners, &__sponsors{
        &--title{
            margin-top: 1rem;
        }
        &--container{
            @include flex-container($align-items: center, $wrap: wrap)
        }
    }
    &__map{
        margin-top: 2rem;
        max-height: 200px;
        width: 100%;
    }
    &__banner{
        display: none;
    }

    @include desktop{
        &{
            padding: 0;
            background-image: none;
        }
        &__content,
        &__banner{
            width: 50vw;
        }
        &__content{
            min-height: 100vh;
            border-radius: 0;
            min-width: 0;
        }
        &__banner{
            @include bg-image($url: "../assets/backgrounds/maurice-sahl.jpg");
            display: block;
        }
    }
}