.contact{
    @include flexbox();
    @include bg-image($url: "../assets/backgrounds/maurice-sahl.jpg");
    padding: $padding;

    &__content{
        background-color: $color-white;
        padding: $padding;
        border-radius: $border-radius;
        min-width: 100%;
    }
    &__title{
        font-size: $fs-32;
        margin-bottom: 2rem;
    }
    &__text-content{

        h3, p{
            font-size: $fs-14;
        }
        h3{
            color: $color-light-gray;
            font-weight: $fw-600;
            text-transform: uppercase;
        }
        p{
            font-family: $ff-serif;
            margin-bottom: 1.5rem;
        }
    }
    &__social-media{
        @include flexbox();
        padding: 1rem 0;
    }
    &__partners,
    &__sponsors{
        &--title{
            margin-top: 1rem;
            font-size: $fs-16;
        }
        &--container{
            @include flexbox($align-i: center, $wrap: wrap)
        }
    }
    &__map{
        margin-top: 2rem;
        max-height: 200px;
        width: 100%;
    }
    &__banner{
        display: none;
    }
    
    @include desktop{
        &{
            padding: 0;
            background-image: none;
        }

        &__content,
        &__banner{
            width: 50vw;
        }

        &__content{
            min-height: 100vh;
            border-radius: 0;
            min-width: 0;
        }
        &__banner{
            @include bg-image($url: "../assets/backgrounds/maurice-sahl.jpg");
            display: block;
        }
    }
}