.game{
    color: map-get($colors, dark-blue);
    
    &__banner{
        position: relative;
        height: 200px;

        &__lol{
            @include bg-image($url: "../assets/backgrounds/lol-banner.png");
        }
        &__valorant{
            @include bg-image($url: "../assets/backgrounds/valorant-banner.png");
        }
        &__csgo{
            @include bg-image($url: "../assets/backgrounds/csgo-banner.jpeg");
        }
    }
    &__circle{
        @include flex-container($justify-content:center, $align-items: center);
        @include circle($width: 120px);
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    &__text-content{   
        .flex-container{
            h1{
                text-transform: uppercase;
                margin: 4rem 0 2rem 0;
            }
        }
        iframe{
            min-height: 200px;
            width: 100%;
            margin-top: 2rem;
        }
    }
    &__roster-matches, &__text-content{
        padding: $padding;
    }
    &__roster, &__matches{
        h2{
            margin-bottom: 1rem;
        }
    }

    @include desktop{
        &__circle{
            top: 100%;
            left: 10%;
        }
        &__text-content{
            @include flex-container($align-items: center, $gap: 2rem);

            iframe{
                height: 300px;
                min-width: 520px;
            }
        }
        &__roster-matches{
            @include flex-container($justify-content: space-between, $gap:2rem);
        }
        &__roster, &__matches{
            width: 50%;
        }
    }
}

.rotate-center{
    &:hover{
        -webkit-animation:rotate-center .6s ease-in-out both;animation:rotate-center .6s ease-in-out both
    }
}
 @-webkit-keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes rotate-center{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}