.home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $gap;
    padding: $padding;
    background-image: url(/assets/backgrounds/ella-don-gETE8IyZPrM-unsplash.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    color: $color-white;

    &__title{
        font-size: 2em;
    }
    &__description{
        font-size: 1em;
    }
    &__button{
        cursor: pointer;
        background-color: #ff198f;
        color: $color-white;
        font-size: 1em;
        font-weight: $fw-600;
        border: none;
        border-radius: $border-radius;
        padding: 1rem 2rem;
        width: fit-content;
    }

    @media screen and (min-width: 64em){
        &__title{
            font-size: 2.5em;
            width: 50%;
        }
        &__description{
            font-size: 1.3em;
            width: 50%;
        }
    }
}

.sponsors{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: $padding;
}