.header{
    @include flex-container($justify-content: space-between, $align-items: center);
    background-color: map-get($colors, dark-gray);
    position: fixed;
    top: 0;
    z-index: 2000;
    min-width: 100%;
    min-height: 80px;

    &__logotype{
        width: 48px;
        margin: 1rem;
    }
    
    @include desktop{
        background-color: map-get($colors, off-white);
        &__logotype{
            width: 80px;
            margin: 0;
        }
    }
}