.navbar{

    margin-right: 1rem;
    
    &__list{
        @include flex-container($gap: 1rem);
    }

    &__item{
        a{
            color: map-get($colors, off-white);
            &:hover{
                font-weight: map-get($font-weights, semi-bold);
            }
        }
    }

    @include desktop{
        
        &__item{
            a{
                color: map-get($colors, dark-blue);
            }
        }
    }
}