.about-us-card{
    @include flex-container($direction: column);
    background-color: map-get($colors, dark-gray);
    border-radius: 1rem;

    &__img{
        border-radius: 1rem 1rem 0 0;
        max-height: 200px;
        object-fit: cover;
    }

    &__text-content{
        color: map-get($colors, off-white);
        padding: $padding;
    }
    
    @include desktop{
        max-width: 350px;
        height: 590px;
    }
}