.header{
    background-color: $color-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    position: fixed;
    top: 0;
    min-width: 100%;

    &__logotype{
        width: 80px;
    }
    &__nav-list{
        display: flex;
        gap: 1rem;
        font-size: 0.7em;
    }
    &__nav-item{
        a{
            color: $color-dark-blue;
            
            &:hover{
                font-weight: 600;
            }
        }
    }

    @media screen and (min-width: 1024px){
        &__nav-list{
            font-size: 1em;
        }
    }
}