.header{
    @include flexbox($justify: space-between, $align-i: center);
    background-color: $color-white;
    position: fixed;
    top: 0;
    z-index: 2000;
    min-width: 100%;
    padding-right: 20px;

    &__logotype{
        width: 80px;
        margin-top: .5rem;
    }
    &__nav-list{
        display: flex;
        gap: 1rem;
        font-size: 0.7em;
    }
    &__nav-item{
        a{
            color: $color-dark-blue;
            
            &:hover{
                font-weight: 600;
            }
        }
    }

    @media screen and (min-width: 1024px){
        &__nav-list{
            font-size: 1em;
        }
    }
}